/* CONTENEDOR GENERAL*/
body{
      margin: 0%;
}
.content_fondoQR{
     background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
  
}
/* CONTENEDOR DE QR Y TEXTO*/
.content_BoxQR_text{
    background-color: white;
    width: 16em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    margin: 50px;
}
/* CONTENEDOR DE IMAGEN QR */
.content_caja_ImagenQR{
    padding: 10px;

    img{
        width: 100%;
        border-radius: 10px;


    }
}
/* CONTENEDOR DE TEXTO */
.content_caja_TextoQR{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
      
 h2{
        color: hsl(218, 44%, 22%);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
    }
    p{
        color: hsl(220, 15%, 55%);
    }
}
/* CONTENEDOR EXTRA */
.attribution{
    background-color: burlywood;
    padding: 10px;
    text-align: center;
}
